# PYTHON
# =========================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================================
# VENV
# =========================================

venv/
.env/

# =========================================
# JUPYTER
# =========================================

.ipynb_checkpoints/

# =========================================
# OUTPUTS
# =========================================

outputs/checkpoints/*
outputs/logs/*
outputs/predictions/*

# Keep empty folders
!outputs/checkpoints/.gitkeep
!outputs/logs/.gitkeep
!outputs/predictions/.gitkeep

# =========================================
# DATASET
# =========================================

data/
datasets_storage/
*.zip
*.tar
*.gz

# =========================================
# VS CODE
# =========================================

.vscode/

# =========================================
# SYSTEM FILES
# =========================================

.DS_Store
Thumbs.db

# =========================================
# LARGE MODEL FILES
# =========================================

*.pth
*.ckpt

# =========================================
# CACHE
# =========================================

.cache/