torch
torchvision
torchaudio
numpy
opencv-python
matplotlib
tqdm
albumentations
segmentation-models-pytorch
pyyaml
scikit-learn
pandas
Pillow
jupyter
notebook
ipykernel
wandb
tensorboard
einops
timm
opencv-contrib-python
